[submodule "dev/external/octaspire_dotfiles"]
	path = dev/external/octaspire_dotfiles
	url = https://github.com/octaspire/dotfiles.git
[submodule "dev/external/octaspire_core"]
	path = dev/external/octaspire_core
	url = https://github.com/octaspire/core.git
